@using System.Text.Json;
@model AppUserRegisterInput;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Onicorn CRM - Register</title>

    <!-- Custom fonts for this template-->
    <link href="~/thema/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/thema/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg" style="margin-top:90px;">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" asp-controller="Account" asp-action="Register" method="post" enctype="multipart/form-data">
                                @{
                                    TempData["genders"] = JsonSerializer.Serialize(Model.Genders); 
                                }
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="@Model.Firstname" type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">

                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="@Model.Lastname" type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="@Model.Email" type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="@Model.Username" type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Usename">

                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="@Model.PhoneNumber" type="number" class="form-control form-control-user" id="exampleLastName" placeholder="Phone Number">

                                    </div>
                                </div>


                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input asp-for="@Model.ImageURL" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="@Model.Password" type="password" class="form-control form-control-user"
                                               id="exampleInputPassword" placeholder="Password">

                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="@Model.ConfirmPassword" type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">

                                    </div>
                                </div>
                                <select asp-items="@Model.Genders" asp-for="@Model.GenderId" class="custom-select mb-3">
                                </select>

                                <div asp-validation-summary="All"></div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                                <hr>
                            </form>

                            <div class="text-center">
                                <a class="small" asp-controller="Account" asp-action="Login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/thema/vendor/jquery/jquery.min.js"></script>
    <script src="~/thema/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/thema/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/thema/js/sb-admin-2.min.js"></script>

    <script>
        document.getElementById('inputGroupFile01').addEventListener('change', function (e) {
            var fileName = e.target.files[0].name;
            var label = document.getElementById('inputGroupFile01').nextElementSibling;
            label.innerText = fileName;
        });
    </script>

</body>

</html>