@model AppUserChangePasswordInput
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="text-success">@TempData["success"]</div>
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
            <form class="form" role="form" autocomplete="off" asp-controller="AppUser" asp-action="ChangePassword" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="@Model.CurrentPassword"></span>
                    <label for="inputPasswordOld">Current Password</label>
                    <input type="password" class="form-control" id="inputPasswordOld" asp-for="@Model.CurrentPassword">
                </div>
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="@Model.NewPassword"></span>
                    <label for="inputPasswordNew">New Password</label>
                    <input type="password" class="form-control" id="inputPasswordNew" asp-for="@Model.NewPassword">
                    <span class="form-text small text-muted">
                        The password must be 8-20 characters, and must <em>not</em> contain spaces.
                    </span>
                </div>
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
                    <label for="inputPasswordNewVerify">Verify</label>
                    <input type="password" class="form-control" id="inputPasswordNewVerify" asp-for="@Model.ConfirmPassword">
                    <span class="form-text small text-muted">
                        To confirm, type the new password again.
                    </span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>